<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Tests">

     <test name="BaseTest">
        <classes>
            <class name="BaseTest"/>
            <class name="CalculateTipTest"/>
        </classes>
    </test>

    <!--test name="SearchTest">
         <classes>
             <class name="SearchTest"/>
        </classes>
    </test-->
</suite>